<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h2> Enter Student Id to Update : <h2>
		<div class="search">
            <form action="action2" method = "Post">
                <input type="numeric" placeholder="Enter ID" name="id">
                <br>
                <input type="text" placeholder="Book issued" name="ibook"> 
                <input type="date" name="idate">
                <br>
                <input type="text" placeholder="Book Returned" name="rbook"  > 
                <input type="date" name="rdate">    
                <br>
                <input type="submit" value="update">
            </form>
        </div>
</body>
</html>