<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h2> Enter Student Id to Update : <h2>
		<div class="search">
            <form action="action2" method = "Post">
                <input type="numeric"
                    placeholder="Enter ID"
                    name="search">
                    <br>
                <input type="text" placeholder="Book issued" > 
                <input type="date" name="Date">
                <br>
                 <input type="text" placeholder="Book Returned" > 
                 <input type="date" name="Date">    
                <br>
                 <input type="submit" value="Update">
            </form>
        </div>


</body>
</html>